<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key><string>com.epiktetov.microMir</string>
  <key>CFBundleExecutable</key><string>µMup07</string>
  <key>CFBundleDocumentTypes</key>
  <array><dict>
    <key>CFBundleTypeOSTypes</key><array><string>****</string></array>
    <key>CFBundleTypeRole</key>        <string>Editor</string>
  </dict></array>
  <key>CFBundleIconFile</key><string>microMir.icns</string>
  <key>CFBundlePackageType</key>      <string>APPL</string>
  <key>CFBundleSignature</key>        <string>~epi</string>
  <key>NSPrincipalClass</key><string>NSApplication</string>
  <key>NSHighResolutionCapable</key>  <string>True</string>
</dict>
</plist>
