[Desktop Entry]
Encoding=UTF-8
Icon=qtmim.png
Name=µMup07
Comment=MicroMir07 text editor
Comment[ru]=Текстовый редактор МикроМир07
Exec=/usr/local/bin/mim %f
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
